@model IEnumerable<ViewModels2.VyModels.AppartmentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @*@Html.Partial("ListOfApartments")*@
    @Html.Partial("~/Views/Home/ListOfApartments.cshtml", Model)
</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrOfRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildinFloors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoveInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastAdmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avalible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrOfRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildinFloors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoveInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastAdmissionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avalible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
