@model ViewModels.VyModels.FeaturesViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeaturesViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Elevator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elevator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balcony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balcony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comhem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comhem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WashingMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashingMachine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
