@model ViewModels.VyModels.ApartmentViewModel

<div>
    <h4>ApartmentViewModel</h4>
    <hr />
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ApartImgId)
                    </dt>
                </dl>
            </td> 
            <td><dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FormHId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FormHId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SizeId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SizeId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AreaId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AreaId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ApartImgId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ApartImgId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.BuildYear)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BuildYear)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ApartArea)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ApartArea)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.QuantityRooms)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.QuantityRooms)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Floor)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Floor)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Region)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Region)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PostalCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PostalCode)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Available)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Available)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DeadlineDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DeadlineDate)
    </dd>
</dl>
    
            </td> 
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FeatureId)
                    </dt>  
                </dl>
            </td>  
        </tr>  
    </table>
    <br /><br />
    <p>
        Detta är en direktlägenhet vilket innebär att uthyrning sker löpande utan hänsyn till hur många köpoäng du har.

        Nu finns en härlig trea med inglasad balkong ledig. Ljus lägenhet i öppen planlösning mellan kök och vardagsrum och två rymliga sovrum med bra förvaring i garderober. I det helkaklade badrummet med dusch finns tvättmaskin och torktumlare. Trevligt kök med bra arbetsytor och ett genomgående parkettgolv.
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
