@model ViewModels2.VyModels.AppartmentViewModel
 
<div>
    <br />
    <h4>@Html.DisplayFor(model => model.Adress.Street)</h4>
    <hr style="border-color: white;" />
    <table>
        <tr>
            <td>
                <dl class="dl">
                    <dt>
                        @foreach (var p in Model.Photos)
                        { 
                          <img class="mySlides" src="@Url.Content(p.URL)"> 
                        }
                            <button class="btn btn-default" onclick="plusDivs(-1)">❮ Prev</button>
                            <button class="btn btn-default" onclick="plusDivs(1)">Next ❯</button><br />
                            <button class="btn btn-default" onclick="currentDiv(1)">1</button>
                            <button class="btn btn-default" onclick="currentDiv(2)">2</button>
                            <button class="btn btn-default" onclick="currentDiv(3)">3</button>
                    </dt>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        Hustyp
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Housing.Type)
                    </dd>

                    <dt>
                        Antal rum
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NrOfRooms)
                    </dd>

                    <dt>
                        Båstadsområde
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.District.Name)
                    </dd>

                    <dt>
                            @Html.DisplayNameFor(model => model.Photos)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Photos)
                        </dd>

                    <dt>
                        Byggår
                    </dt>

                    <dd>
                        @Model.BuildYear.ToShortDateString()
                    </dd>

                    <dt>
                        Yta(Kvm)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Area) m²
                    </dd>

                    <dt>
                        Antal rum
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NrOfRooms)
                    </dd>

                    <dt>
                        Våning
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Floor)
                    </dd>

                    <dt>
                        Hyra
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Rent) kr/mån
                    </dd>

                    <dt>
                        Adress
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Adress.Street),
                        @Html.DisplayFor(model => model.Adress.PostalNr)
                        @Html.DisplayFor(model => model.Adress.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Avalible)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Avalible)
                    </dd>

                    <dt>
                        Tillträde
                    </dt>

                    <dd>
                        @Model.MoveInDate.ToShortDateString()
                    </dd>

                    <dt>
                        Sista anmälningsdag
                    </dt>

                    <dd>
                        @Model.LastAdmissionDate.ToShortDateString()
                    </dd>
                </dl>

            </td>
            <td>
                <dl class="dl-horizontal">
                    <dd><b>Lägenheten/Byggnaden har</b></dd>
                    @foreach (var a in Model.Features)
                    {
                        <dd>
                            ✔ @Html.DisplayFor(Model => a.name)
                        </dd>
                    }
                </dl>
            </td>
        </tr>
    </table>
    <br /><br />
    <p>
        Detta är en direktlägenhet vilket innebär att uthyrning sker löpande utan hänsyn till hur många köpoäng du har.

        Nu finns en härlig trea med inglasad balkong ledig. Ljus lägenhet i öppen planlösning mellan kök och vardagsrum och två rymliga sovrum med bra förvaring i garderober. I det helkaklade badrummet med dusch finns tvättmaskin och torktumlare. Trevligt kök med bra arbetsytor och ett genomgående parkettgolv.
    </p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-red", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-red";
}
</script>