@model ViewModels2.VyModels.AppartmentViewModel

<div>
    @*<h4>@Html.DisplayFor(model => model.Adress.Street)</h4>*@
    <hr style="border-color: white;"/>
    <table>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        <img src="http://placehold.it/150x150/292929/99cc66">
                    </dt>
                </dl>
            </td> 
            <td><dl class="dl-horizontal">
    @*<dt>
        @Html.DisplayNameFor(model => model.Housing)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Housing)
    </dd>*@

    <dt>
        @Html.DisplayNameFor(model => model.NrOfRooms)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NrOfRooms)
    </dd>

    @*<dt>
        @Html.DisplayNameFor(model => model.District)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.District)
    </dd>*@

    @*<dt>
        @Html.DisplayNameFor(model => model.Photos)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Photos)
    </dd>*@

    <dt>
        @Html.DisplayNameFor(model => model.BuildYear)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BuildYear)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Area)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Area)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NrOfRooms)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NrOfRooms)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Floor)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Floor)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Rent)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Rent)
    </dd>

    @*<dt>
        @Html.DisplayNameFor(model => model.Adress)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Adress)
    </dd>*@
 
    <dt>
        @Html.DisplayNameFor(model => model.Avalible)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Avalible)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MoveInDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MoveInDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastAdmissionDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastAdmissionDate)
    </dd>
</dl>
    
            </td> 
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @*@Html.DisplayNameFor(model => model.Features)*@
                    </dt>  
                </dl>
            </td>  
        </tr>  
    </table>
    <br /><br />
    <p>
        Detta är en direktlägenhet vilket innebär att uthyrning sker löpande utan hänsyn till hur många köpoäng du har.

        Nu finns en härlig trea med inglasad balkong ledig. Ljus lägenhet i öppen planlösning mellan kök och vardagsrum och två rymliga sovrum med bra förvaring i garderober. I det helkaklade badrummet med dusch finns tvättmaskin och torktumlare. Trevligt kök med bra arbetsytor och ett genomgående parkettgolv.
    </p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
