@model IEnumerable<ViewModels.VyModels.ApartmentViewModel>
<br />
<b>
    Lediga just nu:
</b>
<br /><br />


<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @*Image here ?*@
            @Html.DisplayFor(modelItem => item.ApartImgId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeId) <br />
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <b>City Area: </b>@Html.DisplayFor(modelItem => item.AreaId)<br />
            <b>Floor: </b>@Html.DisplayFor(modelItem => item.Floor)<br />
            <b>Area: </b>@Html.DisplayFor(modelItem => item.ApartArea)<br />
            <b>Price: </b>@Html.DisplayFor(modelItem => item.Price)<br />
            <b>Available: </b>@Html.DisplayFor(modelItem => item.Available)<br />
            <b>Deadline Date: </b>@Html.DisplayFor(modelItem => item.DeadlineDate)<br />
        </td>
        <td>
            <br /><br />
            <input type="button" class="btn btn-info" value="Mer om lägenhet" onclick="location.href='@Url.Action("Details", "Home", new { id=item.Id })'" />
        </td>
    </tr>
}

</table>
